@import '/node_modules/normalize.css/normalize.css';
@import './styles/_variables.scss';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

body {
    background-color: whitesmoke;
    color: black;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Inter', sans-serif;
}

